/* 공통 */
body, html{overflow-x: hidden;margin: 0;}
a{color: #000; text-decoration: none;}
.header{
    height: 50px;
    display: flex;
    padding: 10px;
    width: 96%;
    position: fixed;
    background: white;
}

/* 모바일 기준 500px로 잡기 */
/* 헤더 */
.logo {
    display: inline-block;
}
.logo > a > img{
    height: 50px;
}
.menu_btn{
    margin-left: auto;
    padding: 10px;
    height: 30px;
    display: inline-block;
}
.menu_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    display: none;
}
.sidebar_menu{
display: none;
    width: 50%;
    height: 100%;
    background: #2468a2;
    position: fixed;
    top:0;
    right: -50%;
    
}
.close_btn{
    text-align: right;
    margin: 0 10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
}
.menu_wrap{
    list-style: none;
    padding: 20px 20px;   
}
.menu_wrap > li{
    margin-bottom: 20px;
}
.menu_wrap li a{
    color: #fff;
}

/* 첫번째 메인 페이지 */
#first_page{
    background: gray;
    height: 500px;
}
#second_page{
    background: whitesmoke;
    height: 500px;
}
#third_page{
    background: wheat;
    height: 500px;
}
#fourth_page{
    text-align: center;
}
